body {
  background-color: ghostwhite;
}

h1 {
  font-size: 50px;
}

label {
  display: block;
  margin: 8px;
}

input {
  width: 20%;
  margin: 8px 0px;
  padding: 8px 16px;
  border-radius: 3px;
  border: 2px solid silver;
}

#letters {
  display: flex;
  justify-content: space-evenly;
  /* width: 70%; */
 }

 .letter {
  font-size: 50px;
  color: black;
 }

 #lights {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  /* width: 70%; */
 }

 .lightbulb {
  height: 36px;
  width: 18px;
  border-radius: 75%;
  background-color:#e6e6e6;
}

.lightbulb.pink {
  background-color: #c91ea1;
}

.lightbulb.yellow {
  background-color: #FFC232;
}

.lightbulb.blue {
  background-color: #070D89;
}

.lightbulb.green {
  background-color: #068A38;
}

.lightbulb.red {
  background-color:#AF1100;
}

.lightbulb.lit {
  animation: lit 3s;
} 

.lightbulb.p-lit {
  animation: p-lit 3s;
}

.lightbulb.y-lit {
  animation: y-lit 3s;
}

.lightbulb.b-lit {
  animation: b-lit 3s;
}

.lightbulb.g-lit {
  animation: g-lit 3s;
}

.lightbulb.r-lit {
  animation: r-lit 3s;
}

@keyframes lit {
  25% {
    background-color: white;
    box-shadow: 0 1px 15px 5px white;
  }
  50% {
    background-color: white;
    box-shadow: 0 4px 25px 10px white;
  }
  75% {
    background-color: white;
    box-shadow: 0 1px 15px 5px white;
  }
  100% {box-shadow: none;}
 }

 @keyframes p-lit {
  25% {
    background-color: magenta;
    box-shadow: 0 1px 15px 5px magenta;
  }
  50% {
    background-color: magenta;
    box-shadow: 0 4px 25px 10px magenta;
  }
  75% {
    background-color: magenta;
    box-shadow: 0 1px 15px 5px magenta;
  }
  100% {box-shadow: none;}
 }

 @keyframes y-lit {
  25% {
    background-color: yellow;
    box-shadow: 0 1px 15px 5px yellow;
  }
  50% {
    background-color: yellow;
    box-shadow: 0 4px 25px 10px yellow;
  }
  75% {
    background-color: yellow;
    box-shadow: 0 1px 15px 5px yellow;
  }
  100% {box-shadow: none;}
 }

@keyframes b-lit {
  25% {
    background-color: blue;
    box-shadow: 0 2px 20px 5px blue;
  }
  50% {
    background-color: blue;
    box-shadow: 1px 4px 30px 10px blue;
  }
  75% {
    background-color: blue;
    box-shadow: 0 2px 20px 5px blue;
  }
  100% {box-shadow: none;}
 }

 @keyframes g-lit {
  25% {
    background-color: lightgreen;
    box-shadow: 0 1px 15px 5px lightgreen;
  }
  50% {
    background-color: lightgreen;
    box-shadow: 0 4px 25px 10px lightgreen;
  }
  75% {
    background-color: lightgreen;
    box-shadow: 0 1px 15px 5px lightgreen;
  }
  100% {box-shadow: none;}
 }

 @keyframes r-lit {
  25% {
    background-color: red;
    box-shadow: 0 1px 15px 5px red;
  }
  50% {
    background-color: red;
    box-shadow: 0 4px 25px 10px red;
  }
  75% {
    background-color: red;
    box-shadow: 0 1px 15px 5px red;
  }
  100% {box-shadow: none;}
 }
