body {
  background-color: ghostwhite;
}

h1 {
  font-size: 50px;
}

label {
  display: block;
  margin: 8px;
}

input {
  width: 20%;
  margin: 8px 0px;
  padding: 8px 16px;
  border-radius: 3px;
  border: 2px solid silver;
}

#letters {
  display: flex;
  justify-content: space-evenly;
  /* width: 70%; */
 }

 .letter {
  font-size: 50px;
  color: black;
 }

 #lights {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  /* width: 70%; */
 }

 .lightbulb {
  height: 36px;
  width: 18px;
  border-radius: 75%;
  background-color:#e6e6e6;
}

.lightbulb.pink {
  background-color: #c91ea1;
}

.lightbulb.yellow {
  background-color: #FFC232;
}

.lightbulb.blue {
  background-color: #070D89;
}

.lightbulb.green {
  background-color: #068A38;
}

.lightbulb.red {
  background-color:#AF1100;
}

.lightbulb.lit {
  animation: lit 3s;
}

@keyframes lit {
  25% {
    background-color: blue;
    box-shadow: 0 2px 20px 5px blue;
  }
  50% {
    background-color: blue;
    box-shadow: 1px 4px 30px 10px blue;
  }
  75% {
    background-color: blue;
    box-shadow: 0 2px 20px 5px blue;
  }
  100% {box-shadow: none;}
 }
