body {
  background-color: #030D17;
  color: ghostwhite;
  font-family:"itc-benguiat", serif;
  cursor: default;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.waffle_time {
  background-image: url(images/waffle.jpeg);
  background-size: cover;
  color: black;
  font-weight: bold;
}

#eleven {
  text-transform: uppercase ;
  width: 10rem;
}

footer {
  opacity: 0.4;
  font-size: .75em;
  text-align: center;
  flex: 1;
}

#top_cont {
  text-align: center;
}

#messages_container {
  margin: 2.5rem;
}

ul {
  list-style-position: inside;
  list-style-type: square;
  columns: 4;
}

li {
  padding: .375rem;
}

li:hover {
  color: #AF1100;
  text-shadow:4px 2px 10px red;
}

#current_message {
  text-align: center;
}

h1 {
  font-size: 70px;
  color: #AF1100;
  text-shadow:10px 2px 70px red;
}

h3 {
  text-decoration-line: overline underline;
}

p.error {
  color: #AF1100;
}

label {
  margin: 8px;
}

.msg_form {
  display: inline-block;
}

input {
  width: 200px;
  margin: 8px 0px;
  padding: 8px 16px;
  border-radius: 3px;
  border: 2px solid silver;
  font-family: "itc-benguiat", serif;
}

input[type=submit] {
  font-family:"itc-benguiat", serif;
  font-size: 13px;
}

input[type=submit]:hover {
  background-color: #AF1100;
}

input#search {
  padding: 4px 8px;
  margin: 6px 0;
}

button {
  width: 200px;
  margin: 8px 4px;
  padding: 8px 16px;
  border-radius: 3px;
  border: 2px solid silver;
  font-family:"itc-benguiat", serif;
  font-size: 14px;
}

button:hover {
  background-color: #AF1100;
}

.right {
  float: right;
}

button.right {
  font-size: .825rem;
  padding: .25rem .50rem;
  width: 10rem;
}

/* LIGHTBULBS */

#message_wall {
  margin: 2.75rem;
}

#letters {
  display: flex;
  justify-content: space-evenly;
  padding: 0px 0px 25px 0px;
  width: 80%;
  margin: auto;
  font-size: 3.25rem;
 }

 #lights {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  width: 80%;
  margin: auto;
 } 

 .lightbulb::before {
  content: "-";
  position: relative;
  top: -12px;
  left: 21%;
  border: #2e2e2c solid 2.5px;
  background: #2e2e2c;
  color: #2e2e2c;
  border-radius: 5px;
}

.lightbulb::after {
  content: '';
  position: absolute;
  z-index: 1;
  width: 8%;
  height: 10px;
  border-bottom: #2e2e2c solid 2.5px;
  border-radius: 50%;
}

.lightbulb:last-of-type::after {
  border: none;
}

 .lightbulb {
  height: 36px;
  width: 18px;
  border-radius: 75%;
  background-color:#e6e6e6;
  z-index: 1;
}

.lightbulb.pink {
  background-color: #c91ea1;
}

.lightbulb.yellow {
  background-color: #FFC232;
}

.lightbulb.blue {
  background-color: #070D89;
}

.lightbulb.green {
  background-color: #068A38;
}

.lightbulb.red {
  background-color:#AF1100;
}

.lightbulb.lit {
  animation: lit 2s;
} 

.lightbulb.p-lit {
  animation: p-lit 2s;
}

.lightbulb.y-lit {
  animation: y-lit 2s;
}

.lightbulb.b-lit {
  animation: b-lit 2s;
}

.lightbulb.g-lit {
  animation: g-lit 2s;
}

.lightbulb.r-lit {
  animation: r-lit 2s;
}

@keyframes lit {
  50% {
    background-color: white;
    box-shadow: 0 4px 25px 10px white;
  }
  100% {box-shadow: none;}
 }

 @keyframes p-lit {
  50% {
    background-color: magenta;
    box-shadow: 0 4px 25px 10px magenta;
  }
  100% {box-shadow: none;}
 }

 @keyframes y-lit {
  50% {
    background-color: yellow;
    box-shadow: 0 4px 25px 10px yellow;
  }
  100% {box-shadow: none;}
 }

@keyframes b-lit {
  50% {
    background-color: #08F7FE;
    box-shadow: 0 4px 25px 10px #08F7FE;
  }
  100% {box-shadow: none;}
 }

 @keyframes g-lit {
  50% {
    background-color: lightgreen;
    box-shadow: 0 4px 25px 10px lightgreen;
  }
  100% {box-shadow: none;}
 }

 @keyframes r-lit {
  50% {
    background-color: red;
    box-shadow: 0 4px 25px 10px red;
  }
  100% {box-shadow: none;}
 }

/* RESPONSIVE */

 .phone {
   display: none;
 }

 @media only screen and (max-width: 600px) {
  h1 {font-size: 3.2em;}
  .respond {display: none;}
  #user_form {display: none;}
  .phone {display: initial;}
}

@media only screen and (max-width: 830px) {
  button.right {width: 5.5rem;}
  h1 {font-size: 3.2em;}
  ul { columns: 2;}
  #lights {width: 100%; padding: 0;} 
  #letters {width: 100%;}
  #messages_container {margin: 1.5rem;}
}